* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsl(210, 36%, 96%);
}
.container {
  max-width: 1170px;
  margin: auto;
}
.slider-container {
  width: 70vw;
  margin: 40px auto 20px;
  height: 70vh;
  border: 8px solid hsl(210, 40%, 50%);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.5s ease all;
}
.slider:nth-child(odd)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.slider:nth-child(even) {
  background-color: hsl(210, 40%, 60%);
}
.slider img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.slider.person img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 20px auto;
}
.slider.person p {
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
}
.slider.person p.num {
  font-size: 50px;
}
.text {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  color: white;
  font-size: 50px;
  font-weight: bold;
}
.btn-container {
  text-align: center;
}
.next,
.prev {
  border: none;
  font-family: inherit;
  padding: 10px 18px;
  font-size: 26px;
  margin: 0 10px;
  background-color: transparent;
  color: hsl(210, 36%, 50%);
}
.prev {
  display: none;
}
@media (max-width: 700px) {
  .slider-container {
    width: 95vw;
    height: 65vh;
  }
}
