* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsl(210, 36%, 96%);
}
main {
  max-width: 1440px;
  margin: auto;
  padding: 0 20px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.section-title {
  text-align: center;
  margin: 80px 0 40px;
}
.section-title h2 {
  display: inline-block;
  text-transform: capitalize;
  font-size: 45px;
  letter-spacing: 3px;
  position: relative;
  padding-bottom: 10px;
}
.section-title h2::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(50% - 35px);
  background-color: #c59d5f;
  width: 70px;
  height: 4px;
}
section.menu {
  margin: 0 20px;
}
section.menu .row {
  align-items: center;
  justify-content: center;
}

/* buttons */
.btn-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.btn-container .btn {
  background-color: transparent;
  border: none;
  padding: 10px 15px;
  color: #c59d5f;
  font-size: 17px;
  font-family: inherit;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-bottom: 10px;
  margin-right: 10px;
  transition: 0.3s ease all;
  /* font-size: 14px;
  margin-right: 5px;
  padding: 5px; */
}
.btn-container .btn:hover,
.btn-container .btn.active {
  background-color: #c59d5f;
  color: white;
}
/* each article */
.menu-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
  margin-bottom: 50px;
  padding-right: 25px;
}
.menu-item .image {
  width: 250px;
  height: 170px;
  padding-right: 25px;
}
.menu-item .image img {
  width: 100%;
  display: block;
  object-fit: cover;
  height: 100%;
  border: 4px solid #c59d5f;
  border-radius: 5px;
}
.menu-item .text {
  width: calc(100% - 250px);
  text-align: justify;
}
.menu-item .text header {
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
  border-bottom: 1px dotted grey;
}
.menu-item .text header h4 {
  letter-spacing: 2px;
  text-transform: capitalize;
}
.menu-item .text header .price {
  color: #c59d5f;
}
.menu-item .text p {
  line-height: 25px;
  padding: 10px 0;
  color: hsl(210, 22%, 49%);
}
@media (max-width: 1200px) {
  .menu-item {
    width: 100%;
    max-width: 650px;
    padding: 0;
  }
}
@media (max-width: 765px) {
  .menu-item {
    max-width: 650px;
  }
  .menu-item .image {
    padding-right: 0;
    /* height: auto; */
    width: 100%;
    margin-bottom: 30px;
  }
  .menu-item .image,
  .menu-item .text {
    width: 100%;
  }
  .btn-container .btn {
    font-size: 14px;
    margin-right: 5px;
    padding: 5px;
  }
}
